.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    position: fixed;
    left: 100%;
    transform: translateX(-100%);
    border: 1px solid black;
    padding: 10px;
}
.userBody{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.header_right_links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_links{
    width: 150px;
    text-align: center;
    outline: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
.user_link{
    margin: 20px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.user_link:hover{
    color: blue;
}
.user_link:active{
    color: aliceblue;

}
#user_options{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px;
}
#user_options .user_options_line{
    border-top: 3px solid black;
}

.userPage{
    width: 100vw;
    height: 100vh;
}
.Request_page{
    text-align: center;
}
.user_request_container{
    display: flex;
    background-color: aqua;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}
.register_inputs{
    display: flex;
    margin: 30px;
    text-align: center;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.res_input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#request_submit_button{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(35, 242, 194);
}
#request_submit_button:hover{
    background-color: aqua;
}
#request_submit_button:active{
    background-color: aliceblue;
}