body{
    width: 100vw;
    margin: 0;
}
.Link_container{
    display: flex;
    justify-content: right;
    gap: 30px;
    margin:15px 20px 0 0 ;
}
.links{
    background-color: rgb(50, 194, 219);
    vertical-align: middle;
    padding: 10px;
    text-align: center; 
    border-radius: 5px;
    width: 4%;
    min-width: fit-content;
    text-decoration: none;
}
.links:hover , .links_page:hover{
    background-color: aqua;
}
a{
    text-decoration: none;
}
.links_page{
    position: absolute;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(50, 194, 219);
    margin: 20px;
    width: 60px;
    text-align: center;
}

.error_message{
    color: red;
    position: relative;
    margin-top: 0;
    text-align: center;
    overflow-wrap: break-word;
    
}
.success_message{
    color: rgb(14, 239, 10);
    position: relative;
    margin-top: 0;
    text-align: center;
    overflow-wrap: break-word;
}
