
.login_container{

    background-color: rgba(44, 44, 44, 0.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 10vh;
    padding: 20px 70px 20px 70px;
    border-radius: 20px;
    color: white;
}
.input_container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.login_label{
    color: rgb(249, 251, 251);
}
.login_inputs{
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.heading{
    text-align: center;
    color: white;
}  
.login_page_links{
    color: rgb(13, 26, 211);
    font-size: 1.2rem;
    text-decoration: underline;
}
.button_container{
    text-align: center;
}
#login_submit_button{
    padding: 10px 30px 10px 30px;
    width: fit-content;
    border-radius: 10px;
    margin: 0;
    background-color: rgb(64, 231, 167);

} 
#login_submit_button:hover{
    background-color: aquamarine;
}
